{% extends "base.html" %}




{% block second_grid %}
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 class="w3-margin w3-jumbo">Ringor, James Moses</h1>
  </div>
  <div class="w3-content">
    <img src= {{ url_for('static', filename='about/james.jpg') }} >
    <p style="font-size:20px">Email: <a href="mailto:mjmringor@tip.edu.ph">mjmringor@tip.edu.ph</a></p>
  </div>
  <div class="w3-content">
    <p style="font-size:20px; text-align:justify"> A licensed Civil Engineer and Master Plumber, with interests in programming,
      which started from simple functions in excel to VBA codes. Currently studying Professional Science
      Masters in Data Science in order to further his skills and knowledge, from his Alma Mater, Technological
      Institute of the Philippines.
    </p>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 class="w3-margin w3-jumbo">Pagayonan, Emmanuel</h1>
  </div>
  <div class="w3-content">
    <img src= {{ url_for('static', filename='about/emman.jpg') }} >
    <p style="font-size:20px">Email: <a href="mailto:mepagayonan@tip.edu.ph">mepagayonan@tip.edu.ph</a></p>
  </div>
  <div class="w3-content">
    <p style="font-size:20px; text-align:justify"> A licensed Electronics Engineer, Software Developer, and Electronics enthusiast.
      Currently working as a Data Engineer while studying Professional Science Masters in Data Science. He strongly believes that
      the Data Science field will be the most in-demand in years to come.
    </p>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 class="w3-margin w3-jumbo">Del Mundo, Alexander</h1>
  </div>
  <div class="w3-content">
    <p style="font-size:20px">Email: <a href="mailto:madelmundo@tip.edu.ph">madelmundo@tip.edu.ph</a></p>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 class="w3-margin w3-jumbo">Salacup, Severino Jr.</h1>
    <img src= {{ url_for('static', filename='about/neo.jpg') }} >
  </div>
    <div class="w3-content">
    <p style="font-size:20px">Email: <a href="mailto:msalacup@tip.edu.ph">msalacup@tip.edu.ph</a></p>
  </div>
  <div class="w3-content">
    <p style="font-size:20px; text-align:justify"> Severino is a technology thought leader. As a Project Manager, he provides
      growth recommendations and identifies incremental business improvements to large-scale organizations based on good manufacturing
      practices. Has extensive experience in business and functional roles in various industries such as Pharmaceuticals, Logistics,
      FMCG, Life Sciences & Chemicals, Beverages, Consumer Goods, and Retail Goods. His primary interests are data-driven opportunities,
      digital transformation, future thinking, innovation, strategy, and business consulting.He is an alumnus of the University of Santo
      Tomas Graduate School and Asian Institute of Management.
    </p>
  </div>
</div>
{% endblock %}
